/* sizing scale */
:root {
    --s-1: 1px;
    --s-2: 2px;
    --s-3: 4px;
    --s-4: 8px;
    --s-5: 12px;
    --s-6: 16px;
    --s-7: 24px;
    --s-8: 32px;
    --s-9: 48px;
    --s-10: 64px;
    --s-11: 96px;
    --s-12: 128px;
    --s-13: 192px;
    --s-14: 256px;
    --s-15: 384px;
    --s-16: 512px;
    --s-17: 640px;
    --s-18: 768px;
    --s-19: 896px;
    --s-20: 1024px;
}
